* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Microsoft Yahei','Arial'; }

html, body, .swiper-container {
  margin: 0;
  padding: 0;
  height: 100%;
  margin: 0 auto; }
  a:hover,a:active{text-decoration: none;}
.page_box {
  width: 10rem;
  height: 17.78667rem;
  background: url("../img/p13-bg0.jpg") no-repeat;
  background-size: 100% 100%;
  text-align: center; }

.page_box:before {
  content: '';
  display: block;
  background: url("../img/icon_up.png");
  background-size: 100% 100%;
  width: 0.58667rem;
  height: 0.37333rem;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: fadeUp 4s linear infinite;
  -webkit-animation: fadeUp 4s linear infinite; }

@keyframes fadeUp {
  0% {
    opacity: 1;
    bottom: 5%; }
  100% {
    opacity: 0.2;
    bottom: 8%; } }
@-webkit-keyframes fadeUp {
  0% {
    opacity: 1;
    bottom: 5%; }
  100% {
    opacity: 0.2;
    bottom: 7%; } }
.musicPic {
  z-index: 9999;
  width: 1.21333rem;
  height: 1.21333rem;
  background: url("../img/sBtn.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 3%;
  right: 3%; }

.musicPic_ {
  -webkit-animation: musicMove 4s linear infinite;
  -o-animation: musicMove 4s linear infinite;
  animation: musicMove 4s linear infinite; }

@keyframes musicMove {
  100% {
    transform: rotateZ(360deg); } }
@-webkit-keyframes musicMove {
  100% {
    transform: rotateZ(360deg); } }
@-o-keyframes musicMove {
  100% {
    transform: rotateZ(360deg); } }
.person {
  position: absolute;
  top: 50%;
  left: 10%; }
  .person img {
    width: 83%; }

.page_title {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  color: #fff; }
  .page_title .fz_12 {
    color: #fff;
    font-size: 0.384rem;
    line-height: 0.4608rem;
    text-align: right;
    padding: 0.17333rem 0;
    width: 83%; }

.title {
  margin: 0 auto;
  padding-top: 0.32rem;
  width: 84%; }

.fz_48 {
  color: #fff;
  font-size: 1.536rem;
  font-weight: bold;
  line-height: 1.8432rem;
  text-align: left; }

.fz_38 {
  color: #fff;
  font-size: 1.216rem;
  line-height: 1.4592rem;
  text-align: left; }

.fz_12 {
  color: #fff;
  font-size: 0.384rem;
  line-height: 0.4608rem;
  margin: 0 auto;
  padding: 0.17333rem 0;
  width: 83%; }

.data-area {
  list-style: none;
  width: 8.56rem;
  margin: 0 auto;
  padding-top: 0.32rem; }
  .data-area li {
    display: inline-block;
    width: 1.49333rem;
    padding: 0 0.24rem;
    font-size: 0.352rem;
    font-weight: bold; }
    .data-area li .cityPp {
      height: 4.64rem;
      position: relative;
      margin-bottom: 0.048rem; }
      .data-area li .cityPp img {
        width: auto;
        height: 1.28rem;
        position: absolute;
        left: 35%; }
      .data-area li .cityPp img.pp1 {
        bottom: 0; }
      .data-area li .cityPp img.pp2 {
        bottom: 0.48rem; }
      .data-area li .cityPp img.pp3 {
        bottom: 0.96rem; }
      .data-area li .cityPp img.pp4 {
        bottom: 1.44rem; }
      .data-area li .cityPp img.pp5 {
        bottom: 1.92rem; }
      .data-area li .cityPp img.pp6 {
        bottom: 2.4rem; }
      .data-area li .cityPp img.pp7 {
        bottom: 2.88rem; }

.data-area .txt {
  padding-top: 0.16rem; }
.data-area .red {
  color: #ff3e3e; }
.data-area .yellow {
  color: #ffab3c; }
.data-area .blue {
  color: #5d92d6; }
.data-area .green {
  color: #51d090; }

.cityPp .txt {
  position: absolute;
  left: 22%; }

.red .cityPp .txt {
  bottom: 4.32rem; }

.yellow .cityPp .txt {
  bottom: 3.84rem; }

.blue .cityPp .txt {
  bottom: 2.4rem; }

.green .cityPp .txt {
  bottom: 1.92rem; }

.data-area p.txt {
  text-align: center; }

.doing {
  width: 95%;
  margin: 0 auto;
  padding: 0.64rem 0; }
  .doing .left {
    width: 50%;
    float: left; }
  .doing .right {
    width: 50%;
    float: right; }
  .doing h3 {
    font-size: 0.352rem;
    margin-bottom: 0.48rem;
    color: #fff;
    text-align: center; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.ppBox img {
  width: 53%;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto; }

.hide {
  display: none; }

.page-current {
  z-index: 1; }

.databarwrap {
  margin: 10% 0; }
  .databarwrap .barwrap {
    width: 90%;
    margin: 0 auto; }
    .databarwrap .barwrap .leftword {
      float: left;
      width: 25%;
      margin-right: 3%;
      line-height: 0.8rem;
      font-size: 0.32rem;
      text-align: right; }
    .databarwrap .barwrap .barout {
      float: left;
      width: 70%;
      height: 0.8rem;
      position: relative;
      background-color: #474747; }
      .databarwrap .barwrap .barout .barpub {
        position: absolute;
        top: 0;
        left: 0;
        height: 0.8rem; }
  .databarwrap .mt5 {
    margin-top: 5%; }

.datawordpub {
  position: absolute;
  line-height: 0.8rem; }

.barwrap .red {
  color: #ff3e3e; }

.barwrap .orange {
  color: #ffac3d; }

.barwrap .blue {
  color: #5e93d6; }

.barwrap .green {
  color: #3fc6c4; }

.reddataword {
  left: 43%;
  color: #ff3e3e; }

.orangedataword {
  left: 40%;
  color: #ff3e3e; }

.bluedataword {
  left: 18%;
  color: #5e93d6; }

.greendataword {
  left: 8%;
  color: #3fc6c4; }

.redbar {
  width: 41%;
  background-color: #ff3e3e; }

.orangebar {
  width: 38%;
  background-color: #ffac3d; }

.bluebar {
  width: 16%;
  background-color: #5e93d6; }

.greenbar {
  width: 5%;
  background-color: #3fc6c4; }

@keyframes toright41 {
  from {
    width: 0%; }
  to {
    width: 41%; } }
@-webkit-keyframes toright41 /* Safari and Chrome */ {
  from {
    width: 0%; }
  to {
    width: 41%; } }
.toright41 {
  -webkit-animation-name: toright41;
  animation-name: toright41; }

@keyframes toright38 {
  from {
    width: 0%; }
  to {
    width: 38%; } }
@-webkit-keyframes bar2 /* Safari and Chrome */ {
  from {
    width: 0%; }
  to {
    width: 38%; } }
.toright38 {
  -webkit-animation-name: toright38;
  animation-name: toright38; }

@keyframes toright16 {
  from {
    width: 0%; }
  to {
    width: 16%; } }
@-webkit-keyframes bar3 /* Safari and Chrome */ {
  from {
    width: 0%; }
  to {
    width: 16%; } }
.toright16 {
  -webkit-animation-name: toright16;
  animation-name: toright16; }

@keyframes toright5 {
  from {
    width: 0%; }
  to {
    width: 5%; } }
@-webkit-keyframes bar4 /* Safari and Chrome */ {
  from {
    width: 0%; }
  to {
    width: 5%; } }
.toright5 {
  -webkit-animation-name: toright5;
  animation-name: toright5; }

@keyframes toleft43 {
  from {
    left: 5%; }
  to {
    left: 43%; } }
@-webkit-keyframes bar1word /* Safari and Chrome */ {
  from {
    left: 5%; }
  to {
    left: 43%; } }
.toleft43 {
  -webkit-animation-name: toleft43;
  animation-name: toleft43; }

@keyframes toleft40 {
  from {
    left: 5%; }
  to {
    left: 40%; } }
@-webkit-keyframes bar2word /* Safari and Chrome */ {
  from {
    left: 5%; }
  to {
    left: 40%; } }
.toleft40 {
  -webkit-animation-name: toleft40;
  animation-name: toleft40; }

@keyframes toleft18 {
  from {
    left: 5%; }
  to {
    left: 18%; } }
@-webkit-keyframes bar3word /* Safari and Chrome */ {
  from {
    left: 5%; }
  to {
    left: 18%; } }
.toleft18 {
  -webkit-animation-name: toleft18;
  animation-name: toleft18; }

@keyframes toleft8 {
  from {
    left: 0%; }
  to {
    left: 8%; } }
@-webkit-keyframes bar4word /* Safari and Chrome */ {
  from {
    left: 0%; }
  to {
    left: 8%; } }
.toleft8 {
  -webkit-animation-name: toleft8;
  animation-name: toleft8; }

.salaryratiowrap {
  width: 100%;
  margin-top: 0.16rem; }
  .salaryratiowrap .pig {
    width: 90%;
    margin: 0 auto; }
    .salaryratiowrap .pig dl {
      width: 50%;
      float: left;
      margin-bottom: 5%;
      position: relative; }
      .salaryratiowrap .pig dl dt.pr {
        position: relative;
        display: table-cell;
        vertical-align: middle; }
        .salaryratiowrap .pig dl dt.pr img {
          width: 75%;
          border: none;
          max-width: 100%;
          max-height: 100%;
          display: block;
          margin: auto; }
        .salaryratiowrap .pig dl dt.pr .pigzzpub {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0%; }
        .salaryratiowrap .pig dl dt.pr .redpigzz {
          background: url("../img/redpig.png") no-repeat center bottom;
          background-size: 75%; }
        .salaryratiowrap .pig dl dt.pr .yellowpigzz {
          background: url("../img/yellowpig.png") no-repeat center bottom;
          background-size: 75%; }
        .salaryratiowrap .pig dl dt.pr .bluepigzz {
          background: url("../img/bluepig.png") no-repeat center bottom;
          background-size: 75%; }
        .salaryratiowrap .pig dl dt.pr .greenpigzz {
          background: url("../img/greenpig.png") no-repeat center bottom;
          background-size: 75%; }
      .salaryratiowrap .pig dl dd {
        text-align: center; }
      .salaryratiowrap .pig dl dd.red {
        color: #ff3e3e; }
      .salaryratiowrap .pig dl dd.orange {
        color: #ffac3d; }
      .salaryratiowrap .pig dl dd.blue {
        color: #5e93d6; }
      .salaryratiowrap .pig dl dd.green {
        color: #3fc6c4; }

@keyframes toheight100 {
  from {
    height: 0%; }
  to {
    height: 100%; } }
@-webkit-keyframes toright41 /* Safari and Chrome */ {
  from {
    height: 0%; }
  to {
    height: 100%; } }
.toheight100 {
  -webkit-animation-name: toheight100;
  animation-name: toheight100; }

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.tada {
  -webkit-animation-name: tada;
  animation-name: tada; }

.meet {
  width: 90%;
  margin: 10% auto;
  height: 40%; }
  .meet ul {
    width: 100%;
    position: relative; }
    .meet ul li {
      width: 33%;
      position: absolute;
      top: 0; }
      .meet ul li img {
        width: 100%; }
      .meet ul li span {
        text-align: center;
        margin-top: 5%;
        display: inline-block;
        width: 100%; }
      .meet ul li span.orange {
        color: #ffac3d; }
      .meet ul li span.red {
        color: #ff3e3e; }
      .meet ul li span.blue {
        color: #5e93d6; }
    .meet ul .no2 {
      left: 0%; }
    .meet ul .no1 {
      left: 35%; }
    .meet ul .no3 {
      left: 70%; }

.feng {
  width: 90%;
  margin: 0.8rem auto 0.32rem;
  position: relative; }
  .feng img {
    width: 100%; }
  .feng span.txt {
    color: #000; }
  .feng span.txt1 {
    position: absolute;
    bottom: 52%;
    left: 29%; }
  .feng span.txt2 {
    position: absolute;
    bottom: 52%;
    left: 63%; }
  .feng span.txt3 {
    position: absolute;
    bottom: 6%;
    left: 12%; }
  .feng span.txt4 {
    position: absolute;
    bottom: 6%;
    left: 46%; }
  .feng span.txt5 {
    position: absolute;
    bottom: 6%;
    left: 82%; }
  .feng span.feng1, .feng span.feng2, .feng span.feng3, .feng span.feng4, .feng span.feng5 {
    position: absolute;
    bottom: 0;
    height: 100%; }
  .feng span.feng1 {
    width: 50%;
    background: url("../img/feng_01.png") no-repeat bottom;
    background-size: 100%;
    left: 0; }
  .feng span.feng2 {
    width: 50%;
    background: url("../img/feng_02.png") no-repeat bottom;
    background-size: 100%;
    right: 0; }
  .feng span.feng3 {
    width: 50%;
    background: url("../img/feng_03.png") no-repeat bottom;
    background-size: 100%;
    left: 0; }
  .feng span.feng4 {
    width: 100%;
    background: url("../img/feng_04.png") no-repeat bottom;
    background-size: 100%;
    left: 0; }
  .feng span.feng5 {
    width: 50%;
    background: url("../img/feng_05.png") no-repeat bottom;
    background-size: 100%;
    right: 0;
    bottom: 2%; }

@-webkit-keyframes fallUp {
  from {
    height: 0; } }
@keyframes fallUp {
  from {
    height: 0; } }
.fallUp {
  -webkit-animation-name: fallUp;
  animation-name: fallUp; }

@-webkit-keyframes zoomIn-sm {
  50% {
    -webkit-transform: scale(1.4, 1.4); } }
@keyframes zoomIn-sm {
  50% {
    transform: scale(1.4, 1.4); } }
.zoomIn-sm {
  -webkit-animation-name: zoomIn-sm;
  animation-name: zoomIn-sm; }

.huoguobar {
  margin: 8% auto;
  padding: 0 10%;
  height: 5.76rem; }
  .huoguobar dl {
    float: left;
    width: 30%;
    height: 90%;
    margin-right: 3%;
    position: relative; }
    .huoguobar dl dt {
      position: relative;
      width: 70%;
      height: 100%;
      margin-left: 15%;
      background-color: #484848; }
      .huoguobar dl dt span.firebar1word {
        position: absolute;
        bottom: 66%;
        left: 0%;
        color: #ff3e3e;
        width: 100%;
        text-align: center; }
      .huoguobar dl dt span.firebar2word {
        position: absolute;
        bottom: 18%;
        left: 0%;
        color: #ffb400;
        width: 100%;
        text-align: center; }
      .huoguobar dl dt span.firebar3word {
        position: absolute;
        bottom: 16%;
        left: 0%;
        color: #00a8ff;
        width: 100%;
        text-align: center; }
      .huoguobar dl dt p.firered {
        background-color: #ff3e3e;
        width: 100%;
        height: 64%; }
      .huoguobar dl dt p.fireyellow {
        background-color: #ffb400;
        width: 100%;
        height: 14%; }
      .huoguobar dl dt p.fireyellow {
        background-color: #00a8ff;
        width: 100%;
        height: 12%; }
      .huoguobar dl dt p {
        position: absolute;
        bottom: 0%; }
    .huoguobar dl dd {
      width: 100%;
      text-align: center;
      margin-top: 10%; }
    .huoguobar dl dd.red {
      color: #ff3e3e; }
    .huoguobar dl dd.yellow {
      color: #ffb400; }
    .huoguobar dl dd.blue {
      color: #00a8ff; }

@-webkit-keyframes height64 {
  from {
    height: 0%; }
  to {
    height: 64%; } }
@keyframes height64 {
  0% {
    height: 0%; }
  100% {
    height: 64%; } }
.height64 {
  -webkit-animation-name: height64;
  animation-name: height64; }

@-webkit-keyframes height14 {
  0% {
    height: 0%; }
  100% {
    height: 14%; } }
@keyframes height14 {
  0% {
    height: 0%; }
  100% {
    height: 14%; } }
.height14 {
  -webkit-animation-name: height14;
  animation-name: height14; }

@-webkit-keyframes height12 {
  0% {
    height: 0%; }
  100% {
    height: 12%; } }
@keyframes height12 {
  0% {
    height: 0%; }
  100% {
    height: 12%; } }
.height12 {
  -webkit-animation-name: height12;
  animation-name: height12; }

@-webkit-keyframes top34 {
  0% {
    bottom: 0%; }
  100% {
    bottom: 66%; } }
@keyframes top34 {
  0% {
    bottom: 0%; }
  100% {
    bottom: 66%; } }
.top34 {
  -webkit-animation-name: top34;
  animation-name: top34; }

@-webkit-keyframes top84 {
  0% {
    bottom: 0%; }
  100% {
    bottom: 18%; } }
@keyframes top84 {
  0% {
    bottom: 0%; }
  100% {
    bottom: 18%; } }
.top84 {
  -webkit-animation-name: top84;
  animation-name: top84; }

@-webkit-keyframes top82 {
  0% {
    bottom: 0%; }
  100% {
    bottom: 16%; } }
@keyframes top82 {
  0% {
    bottom: 0%; }
  100% {
    bottom: 16%; } }
.top82 {
  -webkit-animation-name: top82;
  animation-name: top82; }

.circle {
  width: 76%;
  height: 7.6rem;
  margin: 0.64rem auto 0.32rem;
  position: relative; }
  .circle img.san0 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%; }
  .circle img.san1 {
    position: absolute;
    top: 0%;
    left: 0%; }
  .circle img.san2 {
    position: absolute;
    top: 0%;
    left: 0%; }
  .circle img.san3 {
    position: absolute;
    top: 0%;
    left: 0%; }
  .circle img.san4 {
    position: absolute;
    top: 0%;
    left: 0%; }
  .circle img.san5 {
    position: absolute;
    top: 0%;
    left: 0%; }
  .circle img.san6 {
    position: absolute;
    top: 0%;
    left: 0%; }
  .circle img.san7 {
    position: absolute;
    top: 0%;
    left: 50%; }
  .circle img.san8 {
    position: absolute;
    top: 0%;
    left: 50%; }
  .circle img.san9 {
    position: absolute;
    top: 50%;
    left: 0%; }
  .circle img.san10 {
    position: absolute;
    top: 50%;
    left: 0%; }
  .circle img.san1, .circle img.san2, .circle img.san3, .circle img.san4, .circle img.san7, .circle img.san8 {
    width: 50%; }
  .circle img {
    width: 100%; }
  .circle .txt {
    position: absolute;
    font-size: 0.384rem;
    font-weight: bold;
    line-height: 0.416rem; }
  .circle .txt1 {
    top: 37%;
    left: 7%;
    color: #cd1fec; }
  .circle .txt2 {
    top: 26%;
    left: 26%;
    color: #00f9aa; }
  .circle .txt3 {
    top: 17%;
    left: 41%;
    color: #00baff; }
  .circle .txt4 {
    top: 39%;
    left: 66%;
    color: #fcbd00; }
  .circle .txt5 {
    top: 65%;
    left: 33%;
    color: #ff3e3e; }

@-webkit-keyframes rotateX90 {
  0% {
    -webkit-transform: rotateX(90deg);
    -webkit-perspective: 500; } }
@keyframes rotateX90 {
  0% {
    transform: rotateX(90deg);
    perspective: 500; } }
.rotateX90 {
  -webkit-animation-name: rotateX90;
  animation-name: rotateX90; }

.bubble {
  position: relative;
  width: 84%;
  height: 9.65333rem; }
  .bubble img {
    position: absolute; }
  .bubble img.bubble-1 {
    width: 55%;
    z-index: 1;
    top: 11%;
    left: 13%; }
  .bubble img.bubble-2 {
    width: 50%;
    z-index: 2;
    top: 27%;
    left: 58%; }
  .bubble img.bubble-3 {
    width: 45%;
    z-index: 3;
    top: 58%;
    left: 40%; }

.train_map_wrap {
  width: 100%;
  margin-top: 10%;
  position: relative; }
  .train_map_wrap img.home {
    width: 38%;
    margin-bottom: 2%;
    z-index: 2;
    position: absolute;
    top: -7%;
    left: 28%; }
  .train_map_wrap img.i_map {
    width: 100%;
    z-index: 1; }
  .train_map_wrap .train_map {
    position: absolute;
    top: 23%;
    left: 0%;
    width: 100%; }
    .train_map_wrap .train_map dl {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0%;
      left: 0%;
      z-index: 3; }
      .train_map_wrap .train_map dl dd {
        position: relative;
        width: 19.3%;
        float: left;
        height: 100%; }
        .train_map_wrap .train_map dl dd img.c_bottom {
          bottom: 60%; }
        .train_map_wrap .train_map dl dd img.c_top {
          bottom: 34%;
          left: 26%; }
        .train_map_wrap .train_map dl dd img {
          position: absolute;
          left: 13%; }
    .train_map_wrap .train_map img.train {
      width: 100%; }

.people_wrap {
  width: 100%;
  height: 16.21333rem;
  position: relative; }
  .people_wrap img.p13_txt1 {
    position: absolute;
    width: 90.7%;
    top: 16%;
    left: 5%; }
  .people_wrap img.p13_txt2 {
    position: absolute;
    width: 76.6%;
    top: 35%;
    left: 14%; }
  .people_wrap .tips_wrap {
    width: 100%;
    position: absolute;
    top: 12%; }
    .people_wrap .tips_wrap img {
      margin: 0.2% 0.6%; }
  .people_wrap .person {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0%; }
    .people_wrap .person img {
      position: absolute; }
    .people_wrap .person img.p13_p_11 {
      left: 43.9%;
      top: -60%;
      width: 11.7%; }
    .people_wrap .person img.p13_p_22 {
      left: 46.5%;
      width: 15.5%;
      bottom: -45%;
      z-index: 5; }
    .people_wrap .person img.p13_p_33 {
      left: 8.0%;
      width: 83.3%;
      z-index: 3; }
    .people_wrap .person img.p13_p_44 {
      width: 36.8%;
      position: relative;
      visibility: hidden; }

@-webkit-keyframes personredout {
  10% {
    opacity: .8;
    z-index: 2; }
  60% {
    opacity: 0.8; }
  100% {
    opacity: 1;
    left: 38.9%;
    top: 38%;
    width: 14.7%;
    z-index: 4; } }
@keyframes personredout {
  10% {
    opacity: .8;
    z-index: 2; }
  60% {
    opacity: 0.8; }
  100% {
    opacity: 1;
    left: 38.9%;
    top: 38%;
    width: 14.7%;
    z-index: 4; } }
.personredout {
  -webkit-animation-name: personredout;
  animation-name: personredout; }

.fenxiang {
  width: 74%;
  margin: 28% auto 16%; }

.btn_wrap {
  width: 100%; }
  .btn_wrap p {
    width: 50%;
    float: left;
    text-align: center; }
    .btn_wrap p a {
      width: 78%;
      display: inline-block;
      border-radius: 0.16rem;
      color: #fff;
      font-size: 0.58667rem;
      text-align: center;
      line-height: 1.44rem;
      margin: 6% auto 2%; }
    .btn_wrap p a.btn_ftx {
      background: #ff3e3e; }
    .btn_wrap p a.btn_dz {
      background: #ff9000; }

.mianze {
  width: 90%;
  margin: 0.26667rem auto 0; }
  .mianze a {
    display: inline-block;
    float: right;
    color: #ffd200;
    font-size: 0.384rem; }

.share {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 11;
  text-align: center; }
  .share img {
    width: 100%; }
  .share img.ok-btn {
    width: 47%;
    margin-top: 2%; }

.pie {
  width: 100%;
  height: 6.98667rem;
  margin: 1.12rem 0 0.64rem 0;
  position: relative;
  text-align: center; }
  .pie canvas {
    background: url("../img/canvas.png") no-repeat;
    background-size: 100% 100%;
    width: 6.98667rem;
    height: 6.98667rem;
    position: absolute;
    top: 0%;
    left: 15%;
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg); }
  .pie img.txt11 {
    position: absolute;
    top: -3%;
    left: 18%; }
  .pie img.txt22 {
    position: absolute;
    top: 7%;
    left: 63%; }
  .pie img.txt33 {
    position: absolute;
    top: 75%;
    left: 7%; }
  .pie img.txt44 {
    position: absolute;
    top: 11%;
    left: 4%; }
  .pie span.txt1 {
    top: 12%;
    left: 37%; }
  .pie span.txt2 {
    top: 25%;
    left: 60%; }
  .pie span.txt3 {
    top: 63%;
    left: 39%; }
  .pie span.txt4 {
    top: 19%;
    left: 30%; }
  .pie span.txt {
    position: absolute;
    font-size: 0.384rem;
    font-weight: bold;
    color: #fff; }

@-webkit-keyframes zoomIn-sm {
  0% {
    -webkit-transform: scale(0, 0); }
  50% {
    -webkit-transform: scale(1.4, 1.4); } }
@keyframes zoomIn-sm {
  0% {
    transform: scale(0, 0); }
  50% {
    transform: scale(1.4, 1.4); } }
.zoomIn-sm {
  -webkit-animation-name: zoomIn-sm;
  animation-name: zoomIn-sm; }

/*# sourceMappingURL=weixin.css.map */
